@font-face {
  font-family: 'MasonChronicles';
  src: url("../fonts/MasonChronicles.woff") format("woff"), url("../fonts/MasonChronicles.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #141218;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: top right;
  outline: none;
}

.container {
  max-width: 1140px;
  width: 90%;
  margin: auto;
}

img {
  max-width: 100%;
}

@media (max-width: 700px) {
  body {
    background-position: center;
  }
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  padding-top: 60px;
}

.menu-list {
  margin-right: auto;
  margin-left: 68px;
}

.menu__item {
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #FFFFFF;
  margin-right: 24px;
  outline: none;
}

.social__icon {
  margin-left: 20px;
}

.main {
  padding-top: 90px;
  padding-bottom: 100px;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 85px;
}

.main-title {
  font-weight: 500;
  font-size: 76px;
  line-height: 89px;
  font-family: 'MasonChronicles', serif;
  margin-bottom: 10px;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.rating__number {
  font-size: 12px;
  line-height: 14px;
  margin-left: 10px;
}

.genre {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 16px;
  display: inline-block;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
}

.description {
  font-size: 14px;
  line-height: 150%;
  max-width: 460px;
  margin-bottom: 40px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
}

.button {
  background: #9D2929;
  border-radius: 8px;
  border: none;
  color: #fff;
  padding: 22px 72px;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  outline: none;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.button:active {
  border: none;
}

.play {
  background: #9D2929;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: none;
  position: relative;
  margin: auto;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.play::before {
  content: '';
  width: 132px;
  height: 132px;
  background: #9D2929;
  opacity: 0.5;
  position: absolute;
  border-radius: 50%;
  top: -16px;
  left: -16px;
}

.play__img {
  position: absolute;
  top: 30px;
  left: 37px;
}

.serias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 420px;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.cards {
  width: 164px;
  height: 113px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 13px;
  margin-right: 30px;
}

.cards-number {
  font-size: 10px;
  line-height: 12px;
}

.cards-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.serias-1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 18, 24, 0.5)), to(#2D2D2D)), url(../img/card-slider/card-image.jpg);
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url(../img/card-slider/card-image.jpg);
}

.serias-2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 18, 24, 0.5)), to(#2D2D2D)), url(../img/card-slider/card-image2.jpg);
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url(../img/card-slider/card-image2.jpg);
}

.serias-3 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 18, 24, 0.5)), to(#2D2D2D)), url(../img/card-slider/card-image3.jpg);
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url(../img/card-slider/card-image3.jpg);
}

.serias-4 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 18, 24, 0.5)), to(#2D2D2D)), url(../img/card-slider/card-image4.jpg);
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url(../img/card-slider/card-image4.jpg);
}

.serias-5 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 18, 24, 0.5)), to(#2D2D2D)), url(../img/card-slider/card-image5.jpg);
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url(../img/card-slider/card-image5.jpg);
}

.serias-6 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 18, 24, 0.5)), to(#2D2D2D)), url(../img/card-slider/card-image6.jpg);
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url(../img/card-slider/card-image6.jpg);
}

.serias-7 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 18, 24, 0.5)), to(#2D2D2D)), url(../img/card-slider/card-image7.jpg);
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url(../img/card-slider/card-image7.jpg);
}

.serias-8 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 18, 24, 0.5)), to(#2D2D2D)), url(../img/card-slider/card-image8.jpg);
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url(../img/card-slider/card-image8.jpg);
}

.card-link {
  text-decoration: none;
  color: #fff;
}

.footer {
  padding: 20px 0px;
  background-color: #141218;
  margin-top: auto;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-item {
  margin-left: 25px;
  font-size: 14px;
  line-height: 20px;
  opacity: 0.4;
}

.left__text {
  font-size: 14px;
  line-height: 20px;
  opacity: 0.4;
}

.burger {
  display: none;
}

/* Page About */
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.about__serias {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  margin-right: 40px;
  margin-bottom: 30px;
}

.serias-title {
  font-weight: 500;
  font-size: 33px;
  line-height: 45px;
  font-family: 'MasonChronicles', serif;
  margin-bottom: 10px;
}

.serias-description {
  font-size: 14px;
  line-height: 17px;
  margin-top: 20px;
}

/* Page Reviews */
.movie-trailer {
  height: 440px;
  overflow: hidden;
  position: relative;
  max-width: 960px;
  margin: auto;
  -webkit-animation-direction: 2s;
          animation-direction: 2s;
}

.movie-trailer video {
  -o-object-fit: cover;
     object-fit: cover;
  height: 440px;
  width: 960px;
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 60px;
  max-width: 960px;
  margin: auto;
  -webkit-animation-direction: 2.5s;
          animation-direction: 2.5s;
}

.feedback {
  background-color: #0c0a0f;
  padding: 15px;
  max-width: 285px;
  min-height: 188px;
  margin: 0;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback-name {
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
  margin-bottom: 10px;
  display: inline-block;
  color: #7c7a7a;
}

.feedback-description {
  font-size: 12px;
  line-height: 13px;
  margin-bottom: 10px;
  display: inline-block;
}

.feedback-date {
  font-size: 14px;
  line-height: 17px;
  color: #7c7a7a;
}

.swiper-feedback {
  max-width: 869px;
  margin-right: auto;
  margin-left: auto;
}

.bowandarrow {
  margin-right: auto;
}

@media (max-width: 950px) {
  .about__serias {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-right: 0;
  }
  .serias-description {
    max-width: 760px;
  }
}

@media (max-width: 700px) {
  .play {
    display: none;
  }
  .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-item:first-child {
    margin-left: 0;
  }
  .social__icon {
    margin-left: 10px;
  }
  .left__text {
    display: block;
    margin-bottom: 10px;
  }
  .movie-trailer {
    display: none;
  }
}

@media (max-width: 600px) {
  .burger {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 40px;
    right: 25px;
    cursor: pointer;
  }
  .burger:before {
    content: '';
    width: 30px;
    height: 2px;
    background-color: #fff;
    margin-top: 7px;
    position: absolute;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
  }
  .burger:after {
    content: '';
    width: 30px;
    height: 2px;
    background-color: #fff;
    margin-top: -7px;
    position: absolute;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
  }
  .burger-active {
    height: 0;
  }
  .burger-active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin: 0px;
  }
  .burger-active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-top: 0;
  }
  .menu__item {
    margin-right: 0px;
    margin-bottom: 15px;
  }
  .social {
    margin-bottom: 15px;
  }
  .social__icon {
    margin-left: 10px;
    margin-right: 10px;
  }
  .nav-bar {
    display: none;
    background-color: #9D2929;
    position: absolute;
    width: 250px;
    height: 200px;
    right: 0;
    top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-bar-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
  }
  .logo {
    margin-top: 15px;
  }
  .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    margin-top: 10px;
  }
  .feedback {
    max-width: 460px;
  }
}

@media (max-width: 470px) {
  .serias {
    max-width: 250px;
  }
}
