.nav-bar
  display: flex
  align-items: center
  justify-content: space-between
.header
  padding-top: 60px
.menu-list
  margin-right: auto
  margin-left: 68px
.menu__item
  font-size: 14px
  line-height: 16px
  text-decoration: none
  color: #FFFFFF
  margin-right: 24px
  outline: none
.social__icon
  margin-left: 20px
.main
  padding-top: 90px
  padding-bottom: 100px
  &-content
    display: flex
    align-items: center
    margin-bottom: 85px
  &-title
    font-weight: 500
    font-size: 76px
    line-height: 89px
    font-family: 'MasonChronicles', serif
    margin-bottom: 10px
    animation-delay: 0.8s
.rating
  display: flex
  align-items: center
  animation-delay: 0.6s
  &__number
    font-size: 12px
    line-height: 14px
    margin-left: 10px
.genre
  font-size: 14px
  line-height: 16px
  margin-bottom: 16px
  display: inline-block
  animation-delay: 0.4s
  animation-duration: 2.5s
.description
  font-size: 14px
  line-height: 150%
  max-width: 460px
  margin-bottom: 40px
  animation-delay: 1s
  animation-duration: 2.5s
.button
  background: #9D2929
  border-radius: 8px
  border: none
  color: #fff
  padding: 22px 72px
  font-size: 14px
  line-height: 16px
  text-decoration: none
  outline: none
  animation-delay: 1.2s
  &:active 
    border: none
.play
  background: #9D2929
  border-radius: 50%
  width: 100px
  height: 100px
  border: none
  position: relative
  margin: auto
  animation-iteration-count: infinite
  &::before
    content: ''
    width: 132px
    height: 132px
    background: #9D2929
    opacity: 0.5
    position: absolute
    border-radius: 50%
    top: -16px
    left: -16px
  &__img
    position: absolute
    top: 30px
    left: 37px
.serias
  display: flex
  max-width: 420px
  animation-delay: 1.4s
  animation-duration: 2s
.cards
  width: 164px
  height: 113px
  border-radius: 8px
  display: flex
  flex-direction: column
  justify-content: flex-end
  padding: 13px
  margin-right: 30px
  &-number
    font-size: 10px
    line-height: 12px
  &-title
    font-weight: bold
    font-size: 14px
    line-height: 16px
.serias-1
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url(../img/card-slider/card-image.jpg)
.serias-2
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url(../img/card-slider/card-image2.jpg)
.serias-3
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url(../img/card-slider/card-image3.jpg)
.serias-4
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url(../img/card-slider/card-image4.jpg)
.serias-5
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url(../img/card-slider/card-image5.jpg)
.serias-6
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url(../img/card-slider/card-image6.jpg)
.serias-7
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url(../img/card-slider/card-image7.jpg)
.serias-8
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url(../img/card-slider/card-image8.jpg)
.card-link
  text-decoration: none
  color: #fff

.footer
  padding: 20px 0px
  background-color: #141218
  margin-top: auto
.footer-content
  display: flex
  justify-content: space-between
.right-menu
  display: flex
.menu-item
  margin-left: 25px
  font-size: 14px
  line-height: 20px
  opacity: 0.4
.left__text
  font-size: 14px
  line-height: 20px
  opacity: 0.4
.burger
  display: none

/* Page About */
.about 
  display: flex
  flex-wrap: wrap
  animation-duration: 2s
  &__serias
    flex-basis: 45%
    margin-right: 40px
    margin-bottom: 30px
.serias-title
  font-weight: 500
  font-size: 33px
  line-height: 45px
  font-family: 'MasonChronicles', serif
  margin-bottom: 10px
.serias-description
  font-size: 14px
  line-height: 17px
  margin-top: 20px

/* Page Reviews */

.movie-trailer
  height: 440px
  overflow: hidden
  position: relative
  max-width: 960px
  margin: auto
  animation-direction: 2s
.movie-trailer video
  object-fit: cover
  height: 440px
  width: 960px
.reviews
  display: flex
  align-items: center
  padding-top: 60px
  max-width: 960px
  margin: auto
  animation-direction: 2.5s
.feedback
  background-color: #0c0a0f
  padding: 15px
  max-width: 285px
  min-height: 188px
  margin: 0
  border-radius: 8px
  display: flex
  flex-direction: column
  justify-content: space-between
  &-name
    font-size: 14px
    line-height: 17px
    font-weight: bold
    margin-bottom: 10px
    display: inline-block
    color: #7c7a7a
  &-description
    font-size: 12px
    line-height: 13px
    margin-bottom: 10px
    display: inline-block
  &-date
    font-size: 14px
    line-height: 17px
    color: #7c7a7a
.swiper-feedback
  max-width: 869px
  margin-right: auto
  margin-left: auto
.bowandarrow
  margin-right: auto
// Responsive

@media ( max-width: 950px )
  .about__serias
    flex-basis: 100%
    margin-right: 0
  .serias-description
    max-width: 760px

@media ( max-width: 700px )
  .play
    display: none
  .footer-content
    flex-direction: column
    align-items: center
  .menu-item:first-child
    margin-left: 0
  .social__icon
    margin-left: 10px
  .left__text
    display: block
    margin-bottom: 10px
  .movie-trailer
    display: none

@media ( max-width: 600px )
  .burger
    display: block
    width: 30px
    height: 2px
    background-color: #fff
    position: absolute
    top: 40px
    right: 25px
    cursor: pointer
    &:before
      content: ''
      width: 30px
      height: 2px
      background-color: #fff
      margin-top: 7px
      position: absolute
      transition: transform 0.4s
    &:after
      content: ''
      width: 30px
      height: 2px
      background-color: #fff
      margin-top: -7px
      position: absolute
      transition: transform 0.4s
    &-active
      height: 0
      &:before
        transform: rotate(45deg)
        margin: 0px
      &:after
        transform: rotate(-45deg)
        margin-top: 0
  .menu__item
    margin-right: 0px
    margin-bottom: 15px
  .social
    margin-bottom: 15px
  .social__icon
    margin-left: 10px
    margin-right: 10px
  .nav-bar
    display: none
    background-color: #9D2929
    position: absolute
    width: 250px
    height: 200px
    right: 0
    top: 0
    flex-direction: column
    justify-content: space-around
    align-items: center
    &-active
      display: flex
      z-index: 2
  .logo
    margin-top: 15px
  .menu-list
    display: flex
    flex-direction: column
    margin: 0
    margin-top: 10px
  .feedback
     max-width: 460px
@media ( max-width: 470px )
  .serias
    max-width: 250px